body {
  background: salmon;
}
h1 {
  text-align: center;
}
.caixa1 {
  position: absolute;
  background: lightblue;
  width: 200px;
  height: 200px;
  right: 200px;
  top: 50%;
}
.caixa2 {
  position: absolute;
  background: lightgreen;
  width: 200px;
  height: 200px;
  right: 400px;
  top: 50%;
}
